.results {
  display: none;
}

.jumbotron {
  background-image: url("https://www.simplilearn.com/ice9/free_resources_article_thumb/Best-Programming-Languages-to-Start-Learning-Today.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 70px;
  background: -webkit-linear-gradient(#46eefa, #d16ba5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 20px;
  font-size: 750%
}

.box {
  margin: 20px;
  padding: 10px;
  background-color: whitesmoke;
  border: 2px solid rgb(192, 38, 133);
  width: 90%;
}

.results {
  text-align: center;
}